<form action="resetPassword" method="post">
  <input type="password" name="password" placeholder="password" />
  <input type="password" name="password2" placeholder="verify password" />
  <button type="submit">submit new password</button>
</form>