Enter the email address you signed up with, and we will send you a link to reset your passowrd.
<form action="resetPasswordRequest" method="post">
  <input type="email" name="email" placeholder="email" />
  <button type="submit">submit</button>
</form>