body {
  font-size: 16px;
}
@media (max-width: 1000px) {
  body { font-size: 12px; }
}
.navbar-default
{
  background-color: rgba(55, 55, 55, 0.7);
  margin-bottom: 0px;
}
.navbar {
  min-height: 120px;
  border: none;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding: 0;
    height: 0;
}
.navbar-brand img {
  margin-top: 10px;
}
.navbar-right
{
  margin-top: 40px;
  margin-right: 50px;
}
.btn-titan {
  word-spacing: 1px;
  letter-spacing: 1px;
  border-radius: 2px;
  padding: 5px 30px;
  font-size: 1.25em;
  border-width: 5px;
}

.btn-white-orange, .btn-white-orange.active, .btn-white-orange:active, .btn-white-orange:focus, .btn-white-orange:hover {
  color: white;
  background-color: #dc6026;
  border-color: white;
}

.btn-white-orange.active, .btn-white-orange:active, .btn-white-orange:focus, .btn-white-orange:hover {
  border-color: #dc6026;
}

.btn-orange-white, .btn-orange-white.active, .btn-orange-white:active, .btn-orange-white:focus, .btn-orange-white:hover {
  color: #dc6026;
  background-color: white;
  border-color: #dc6026;
}

.btn-gray-white, .btn-gray-white.active, .btn-gray-white:active, .btn-gray-white:focus, .btn-gray-white:hover {
  color: #373737;
  background-color: white;
  border-color: #373737;
}

.btn-orange-white.active, .btn-orange-white:active, .btn-orange-white:focus, .btn-orange-white:hover {
  border-color: white;
}

.lightbox button, .lightbox button.active, .lightbox button:active, .lightbox button:focus, .lightbox button:hover {
  font-size: 1.5em;
  border-radius: 0;
  border-color: white;
  border-width: 2px;
  background-color: transparent;
  color: white;
}

#collapse-menu
{
  position: absolute;
  visibility: hidden;
}
#collapse-menu.collapse
{
  position: relative;
  visibility: visible;
}
.font-code-pro { 
  font-family: Code-Pro-Demo;
  font-weight: normal;
  font-style: normal;
}

#contact h1 {
    white-space: nowrap;
    border-bottom: 3px solid #dc6026;
    font-size: 2.5em;
}

.lightbox h1 {
    font-size: 2.5em;
}
.font-helvetica {
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
}

#contact p {
    font-size: 1.25em;
    text-align: justify;
}

#climb p {
    /* width: 20vw; */
    text-align: justify;
    /* color: #373737; */
    color: blue;
    text-decoration: underline;
    font-size: 18px;
}
#climb input {
  color: #373737;
}
.section-content {
  position: relative;
  top: 0px;
  margin-top: 50px;
}
#contact, #footer {
  height: inherit;
}
.home-section {
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 0;
  position: relative;
  color: white;
  text-align: center;
  background-position: center top;
  background-size: cover;
  padding-bottom: 30px;
  /* min-height: 95vh; */
}
#home, #mobile-home {
  padding-top: 120px;
}

.image-container {
  width: 95%;
  margin: 0 auto;
}


#home, #about, #climb, #mobile-home, #mobile-about {
  display: none;
}
@media (max-width: 768px) {
  #mobile-home {
    display: inherit;
    color: #373737;
    background-color: white;
  }

  #mobile-about {
    display: inherit;
    background-color: #373737;
    background-color: rgba(55,55,55,.75);
    color: white;
  }

  #mobile-home .subscribe-form {
    margin-top: 30px;
  }
  #mobile-home p {
    display: inline;
    margin: 20px 0;
    font-size: 1.5em;
    text-decoration: underline
  }
  .mobile-climb-button {
    margin-top: 30px;
    text-align: left;
  }
}
@media (min-width: 769px) {
  #home { 
    display: inherit;
    background-image: url(http://d39rd677qckrt3.cloudfront.net/images/5.jpg);
    background-color: #373737;
  
    min-height: 90vh;
}
  #about {
    background-image: url(http://d39rd677qckrt3.cloudfront.net/images/about.JPG);
    text-align: left;
    display:inherit;
  }
  #climb { display: inherit;}
}
#footer {
  background-color: #373737;
  padding: 10px 0;
}

#contact .form-control {
  color: white;
  background-color: #373737;
  border-radius: 0px;
}
#contact {
  color: #373737;
  background-color: white;
  padding: 30px 0;
}
#about::after {
  content: "";
  background: rgba(55, 55, 55, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: block;
}
#about > * {
  z-index: 10;
}

#about .section-content {
    margin-left:50px;
    width: 70vw;
}
#about h2 {
  font-size: 2.5em;
  color: white;
}
#about h1 {
  color: white;
  font-size: 3em;
  margin-top: 0;
}
#about p {
  font-size: 1.25em;
  line-height: 175%;
  text-align: justify;
}
.orangeText {
  color: #dc6026;
}
#titans { 
  background-image: url(http://d39rd677qckrt3.cloudfront.net/images/10.jpg);
  display: block;
  position: relative;
}
#titans:after {
  content: "";
  background: rgba(220, 96, 38, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: block;
}
#titans > * {
  z-index: 10;
}
.grayText {
  color: #373737;
}
#titans h1, #mobile-home h1, #mobile-about h1 {
  border-bottom: 5px solid #373737;
  display: inline-block;
  font-size: 5em;
  letter-spacing: 3px;
  white-space: nowrap;
}
#mobile-home h1, #mobile-about h1 {
  letter-spacing: normal;
  border-bottom: 5px solid #dc6026;
  white-space: inherit;
}

#titans p, #mobile-about p {
  text-align: justify;
  font-size: 1.5em;
  line-height: 175%;
  letter-spacing: 1px;
  margin-bottom: 5vh;
}
#titans .section-content, #home .section-content, #climb .section-content {
  width: 60vw;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}
#climb .section-content {
    position: relative;
    margin-right: 50px;
    right: 0;
    top: 100px;
    z-index: 2;
}
#home .section-content {
  /* position: absolute; */
  margin-top: 100px;
  /* bottom: 100px; */
}
#climb {
  text-align: left;
  height: 800px;
}

#climb-img {
    position: absolute;
    top: 0;
    left: 0;
}
#climb h1 {
  /* border-bottom: 5px solid #373737; */
  color: #373737;
  font-size: 5em;
  /* margin-right: 30px; */
}
.nowrap { 
  white-space: nowrap;
}
#home h1 {
  font-size: 8em;
  letter-spacing: 5px;
  white-space: nowrap;
}
#home p {
  display: inline-block;
  padding: 5px 20px;
  background-color: rgba(220, 96, 38, 0.85);
  font-size: 2em;
  letter-spacing: 3px;
  width: 100%;
}
.background-fit {
  vertical-align: top;
  line-height: 0;
  display: block;
  visibility:hidden;
  max-width: 1200%;
  position: relative;
  top: -110px;
}
.background-fit-container {
  padding: 0;
}
#contact ::-webkit-input-placeholder {
   color: white;
   font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
}
#contact :-moz-placeholder { /* Firefox 18- */
   color: white;
   font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
}

#contact ::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
}

#contact :-ms-input-placeholder {  
   color: white;
   font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
}
.navbar-left img {
    margin-top: 10px;
}
.lightbox {
  display: none;
  z-index: 1500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(55, 55, 55, 0.9);
}
.lightbox-inner {
  color: white;
  background-color: #393d49;
  text-align: center;
  padding: 80px 10% 20px 10%;
  position: relative;
  max-width: 90vw;
  margin: 0 auto;
}
.close-lightbox {
  position: absolute;
  right: 30px;
  top: 30px;
}
area {
  outline: none;
}
.subscribe-button-container {
  text-align: center;
}
.no-bg-img {
  min-height: 0;
}
.no-touch .mountain-label {
  color: #373737;
  position: absolute;
}
.touch #climb .mountain-label {
  color: #373737;
  position: absolute;
}
@media (max-width: 768px) {
  .home-section { min-height: 0; padding: 0;}
  .disappear-at-md { display: none; }
  #titans h1, #climb h1 { white-space: inherit; }
  #titans .section-content, .section-content { width: inherit; padding: 0 10px; margin: 0 0 20px 0;}
  #titans { background-image: url(http://d39rd677qckrt3.cloudfront.net/images/10-mobile.jpg);}
  #titans h1, #mobile-home h1, #mobile-about h1 { font-size: 4em;}
  .navbar-fixed-top { position: absolute; }
}
@media (min-width: 769px) {
  .section-content {
    margin-top: 110px;
  }
}
#climb .section-content {
  margin-top: 125px;
}
